* {
    
    /* font-family: 'Sora', sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cardHighlight {
    min-height: 100%;
}

.subtitle {
    font-weight: bolder;
    font-size: large;
}

.courseCard {
    margin-bottom: 25px;
}



/* Landing Page */

.landing-bg2{
	position: relative;
 	background: url(../public/landing-parallax.png);
 	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	width: 100%;
	height: 100vh;
}

.landing-container3{
	position: relative;
}

.landing-container2{
	height:100vh;
	width: 100%;
}

#landing {
    background-color: #f5f5f5;
}

.navbar{
    mix-blend-mode: multiply !important;
}

.navbar-brand-img {
    color: white;
    text-decoration: none;
    background-repeat: no-repeat;
    transition: background-size 275ms cubic-bezier(.5,0,.5,0);
    background-size: 100% 1px;
}

.landing-logoB{
	overflow: hidden;
	height:8rem;
	width: 8rem;
	top:1%;
	position: absolute;
}

.landing-logo {
	z-index: 10;
	color: white;
	height:8rem;
	width: 8rem;
	top:1%;
	position: absolute;
	
}

.landing-logo:hover {
	transition: all 0.4s ease-in-out;
	opacity: 0.2;
}

.login-buttonB{
    overflow: hidden;
	top:50%;
	position: absolute;
	height:1.7rem;
    right: 20px;
}

.login-button{
    z-index: 10;
	color: white;
	top:50%;
	position: absolute;
	height:1.7rem;
    right: 20px;
}

.login-button:hover{
    transition: all 0.4s ease-in-out;
	opacity: 0;
}


.navbar-nav {
	position: absolute;
	top: 50%;
	right:3%;
	font-size: 1rem;
}

.nav-item, .nav-link {
	text-decoration: none;
	color: black;
	font-size: 1rem;
	padding: 0px;
	margin: 0px;
}

.nav-link {
    padding: 0 !important;
    font-weight: 300;
    color: #E5106D;
}

.landing-video {
	position: relative;
	height: 100vh;
	width: 100%;
    object-fit: cover;
}

#myVideo {
    mix-blend-mode: multiply;
	position: absolute;
    background-repeat: no-repeat;
    object-fit: cover;

	height: 100vh;
	width: 100%;
}


.landing-text {
	color: var(--red);
	bottom: 40%;
	left: 30px;
	right: 10px;
	position: absolute;
	font-weight: 100;
	font-size: 6vw;
	line-height: 6vw;
}

.landing-button{
    border-radius: 100px !important;
	bottom: 30%;
	margin-left: 25px;
	object-position: left;
	position: absolute;
	font-size: 1rem;
}

.landing-text-img2 {
    position: absolute;
    top: 55%;
    left: 22%;
    z-index: 10;
    height:5vw;
}

.landing-text-img {
    position: absolute;
    top: 63%;
    left: 22%;
    overflow: hidden;
    height:5vw;
}

.landing-text-img:hover{
    transition: all 0.4s ease-in-out;
    opacity: 0;
}

.about-icon {
	position: relative;
	text-align: center;
	margin: 5% auto;
	top: 10%;
}

.about-sub-text {
	font-weight: 300;
}

.landing-desc{
	position: relative;
	top: 40%;
	color: white;
	font-size: 3vh;
	font-weight: 200;
}

.landing-icon1{
	z-index: 10;
	height: 10rem !important;
	position: relative;
	margin: 2rem auto;
}
/* 
.landing-icon2{
	overflow: hidden;
	height: 10rem !important;
	position: relative;
	margin: 2rem auto;
} */

.landing-icon1:hover{
	/* transition: all 0.4s ease-in-out; */
	transition: all .2s ease-in-out;
	transform: scale(1.3);
}

.icon-text{
	font-size: 1rem;
	top: 100%;
}

.download-text{
	color: white;
}

.download-text > h1 {
	bottom: 40%;
	left: 30px;
	right: 10px;
	position: absolute;
	font-weight: 100;
	font-size: 4vw;
	line-height: 6vw;
}

.download-text > p {
	top: 60vh;
	bottom: 40%;
	left: 30px;
	right: 10px;
	position: absolute;
	font-weight: 100;
	font-size: 1.5vw;
	line-height: 6vw;
}

.download-button {
	border-radius: 100px !important;
	margin-left: 25px;
	object-position: left;
	position: absolute;
	top:70vh;
	font-size: 1rem;
}

.download-pic {
	position: relative;
	z-index: 10;
	height: 30rem !important;
	top: 10%;
	right: -65%;
	margin: 2rem auto;
}

.download-pic2 {
	z-index: -1;
	position: absolute;
	z-index: 10;
	height: 30rem !important;
	top: 20%;
	right: 5%;
	margin: 2rem auto;
}

.download-pic:hover{
	/* transition: all 0.4s ease-in-out; */
	transition: all .2s ease-in-out;
	transform: scale(1.1);
}


.download-pic2:hover{
	/* transition: all 0.4s ease-in-out; */
	transition: all .2s ease-in-out;
	transform: scale(1.1);
}


/* Login */
.login-container{
	position: relative;
 	background: url(../public/landing-parallax2.gif);
 	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	width: 100%;
	height: 100vh;

}

.login-form{
	margin-top: auto;
	margin-bottom: auto;
	width: 50%;
}

.login-form-button{
	border-radius: 100px !important;
	display: block;
	width: 100%;
	margin-bottom: 3.5%;  
}

.login-text{
	color: #e70f6e;
}

/* Register */
.register-container{
	height: 100vh;
	width: 100%;
}

.register-form{
	position: relative;
	top: 20vh;
	margin-top: auto;
	margin-bottom: auto;
}

.register-form-button{
	border-radius: 100px !important;
	display: block;
	width: 100%;
	margin-top: 2.5%;  
}

.register-text{
	color: #e70f6e;
}

/* Records */
.records-display{
	position: relative;
	margin-top: 10vh;
	margin-bottom: auto;
	height: 100vh;
}

.records-card{
	position: relative;
}

/* footer */
.footer-container{
	position: fixed;
	display: inline-block; 
	bottom: 0px;
	text-align: center;
	font-weight: 300;
	font-size: 0.8rem;
}
